/* General Body Styling */
body {
    background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0px;
}

/* Navbar Styling */

nav {
    background-color: #2D8F7A;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Hamburger Styling */
.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

#qualitySelectorFix {
    display: inline-flex;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    .hamburger {
        display: block;
        margin-left: auto;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
        display: block;
        height: 30px;
    }

    nav ul li a {
        font-size: 20px;
        padding: 10px 20px;
        display: block;
    }
}

/* Headings Styling */
h1,
h2 {
    text-align: center;
    color: #333;
}

@media only screen and (max-width: 390px) {
    #playBtn {
        display: none;
    }
}

@media only screen and (min-width: 390px) {
    #playImg {
        display: none;
    }
}

/* Input and Button Containers */
.input-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

@media only screen and (max-width: 400px) {
    #song-Name {
        font-weight: bold;
        font-size: large;
        margin: 5px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 400px;
    }

    #currentSongName {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 170px;
    }
}

#songName {
    border-radius: 20px;
    background-color: #fff;
    padding-left: 10px;
    width: 300px;
    border: 1px solid #ccc;
    height: 40px;
    font-size: 16px;
}

/* Song Card Styling */

#songTemplate {
    padding-left: 5px;
    padding-right: 5px;
}

.song-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.song-details {
    flex-grow: 1;
}

.song-name {
    font-weight: bold;
    font-size: large;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
}

.song-artists {
    font-size: smaller;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
}

@media only screen and (max-width: 600px) {
    .song-artists {
        font-size: smaller;
        margin: 5px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
    }

    .song-name {
        font-weight: bold;
        font-size: large;
        margin: 5px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
    }

    #songName {
        border-radius: 20px;
        background-color: #fff;
        padding-left: 10px;
        width: 230px;
        border: 1px solid #ccc;
        height: 40px;
        font-size: 16px;
    }
}

.song-img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

.quality-select {
    margin-top: -5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

/* Play Button */
Button#playBtn,
Button#searchBtn {
    background-color: #2D8F7A;
    color: white;
    border: none;
    padding: 8px 13px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
}

#prevNxtInline {
    display: inline-flex;
    width: 100%;
}

#nextPage {
    display: block;
    margin: 20px auto;
    /* Center the button horizontally and add top margin */
    background-color: #2D8F7A;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    position: relative;
    z-index: 100;
    /* Ensure it's not hidden by any other content */
    margin-bottom: 60px;
}

#nextPage.hidden {
    display: none;
}

#previousPage {
    display: block;
    margin: 20px auto;
    /* Center the button horizontally and add top margin */
    background-color: #2D8F7A;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    position: relative;
    z-index: 100;
    /* Ensure it's not hidden by any other content */
    margin-bottom: 60px;
}

#previousPage.hidden {
    display: none;
}

.modal-open #nextPage,
.modal-open #previousPage {
    z-index: -1; /* Send them behind when modal is open */
}

#randomAjustor {
    display: block;
    margin: 20px auto;
    /* Center the button horizontally and add top margin */
    background-color: none;
    color: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    position: relative;
    z-index: 100;
    /* Ensure it's not hidden by any other content */
    margin-bottom: 20px;
}

Button#playBtn:hover,
Button#searchBtn:hover,
Button#nextPage:hover {
    background-color: #257762;
}

#playlistShowId {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

#playlistImg {
    width: 200px;
    /* Adjust the size as needed */
    height: 200px;
    border-radius: 50%;
    /* Makes the image circular */
    object-fit: cover;
    /* Ensures the image maintains aspect ratio */
    margin-bottom: 10px;
    /* Adds space between image and playlist name */
}

#playlistName {
    font-size: 24px;
    /* Adjust the font size as needed */
    font-weight: bold;
    display: inline-block;
}

#btnAddPlaylistToQueue {
    margin-left: 10px;
    cursor: pointer;
    border: none;
    display: inline-block;
    vertical-align: middle;
    /* Aligns the button with the playlist name */
}

.hidden#playlistName {
    display: none;
}

.hidden#btnAddPlaylistToQueue {
    display: none;
}



/* 3 Dots for Options */
.options {
    position: relative;
    display: inline-block;
}

.three-dots {
    font-size: 24px;
    cursor: pointer;
}

.options-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1;
    right: 0;
}

.options-menu button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.options-menu button:hover {
    background-color: #f1f1f1;
}

/* To display options on click */
.options:hover .options-menu {
    display: block;
}

/* Loading Overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.112);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Make sure it covers other content */
}

.loading-content {
    text-align: center;
}

.loader {
    color: #ffffff;
}

.hidden {
    display: none;
}

/* Add margin-bottom to prevent last song hiding under player */
#result {
    margin-bottom: 0px;
}

/* Add this to your CSS */

#resultTrendingSongs {
    margin-bottom: 0px;
    /* Adjust this value according to the height of your persistent player */
}

/* Audio Player Container */
.audio-player-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 999;
    height: 60px;
    /* Allow the height to adjust based on content */
    pointer-events: auto;
    /* Ensure clicks pass through where no content */
}


/* Audio player itself should now have 100% width */
.audio-player {
    width: 100%;
    /* Full width */
    background: #2D8F7A;
    box-shadow: 0 0 20px 0 #000a;
    color: white;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: 6px auto;
    height: 60px;

    /* Set height of the player */
    .timeline {
        background: white;
        width: 100%;
        position: relative;
        cursor: pointer;
        box-shadow: 0 2px 10px 0 #0008;
        height: 10px;

        .progress {
            background: coral;
            width: 0%;
            height: 100%;
            transition: 0.25s;
        }
    }

    .controls {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 0 20px;

        >* {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .toggle-play {
            &.play {
                cursor: pointer;
                position: relative;
                left: 0;
                height: 0;
                width: 0;
                border: 7px solid #0000;
                border-left: 13px solid white;

                &:hover {
                    transform: scale(1.1);
                }
            }

            &.pause {
                height: 15px;
                width: 20px;
                cursor: pointer;
                position: relative;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0px;
                    background: white;
                    content: "";
                    height: 15px;
                    width: 3px;
                }

                &:after {
                    position: absolute;
                    top: 0;
                    right: 8px;
                    background: white;
                    content: "";
                    height: 15px;
                    width: 3px;
                }

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .time {
            display: flex;

            >* {
                padding: 2px;
            }
        }

        .volume-container {
            cursor: pointer;

            .volume-button {
                height: 26px;
                display: flex;
                align-items: center;

                .volume {
                    transform: scale(0.7);
                }
            }

            position: relative;
            z-index: 2;

            .volume-slider {
                position: absolute;
                left: -3px;
                top: 15px;
                z-index: -1;
                width: 0;
                height: 15px;
                background: white;
                box-shadow: 0 0 20px #000a;
                transition: .25s;

                .volume-percentage {
                    background: coral;
                    height: 100%;
                    width: 75%;
                }
            }

            &:hover {
                .volume-slider {
                    left: -123px;
                    width: 120px;
                }
            }
        }
    }
}

.modal {
    align-self: center;
    position: fixed;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.322);

    /* Black w/ opacity */
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fefefe;
        padding: 20px;
        border-radius: 8px;
        max-width: 400px;
        width: 90%;
        /* Could be more or less, depending on screen size */
        max-height: 80vh;
        /* Set a maximum height */
        overflow-y: auto;
        /* Enable vertical scrolling */
        z-index: 100;
    }

    .song-card {
        display: flex;
        align-items: center;
        margin: 10px;
        transition: transform 0.3s ease;
        width: 230px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
        /* Animation for reordering */
    }

    .song-info {
        display: flex;
        align-items: center;
    }

    .drag-icon {
        cursor: move;
        /* Change cursor to indicate draggable */
        margin-right: 10px;
        /* Space between icon and song name */
        user-select: none;
        /* Prevent text selection on drag */
    }

    .song-img {
        width: 50px;
        /* Set a fixed width for song images */
        height: 50px;
        /* Set a fixed height for song images */
        margin-right: 10px;
        /* Space between image and text */

    }

    .song-card.dragging {
        opacity: 0.5;
        /* Makes the dragged item semi-transparent */
    }

    .song-card.hover {
        transform: scale(1.05);
        /* Slightly scale up the hovered item */
    }

    .song-id {
        display: none;
        /* Hide song ID */
    }

    .close-button {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close-button:hover,
    .close-button:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .song-queue-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* Space between song cards */
    }
    .song-name {
        font-weight: light;
        font-size: medium;
        margin: 0px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 150px;
    }
}