body {
    background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
}

h1,
h2 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#songName {
    border-radius: 20px;
    background-color: #fff;
    padding-left: 10px;
    width: 300px;
    border: 1px solid #ccc;
    height: 40px;
    font-size: 16px;
}

button {
    margin-left: 10px;
    height: 40px;
    background-color: #2D8F7A;
    color: white;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
}

button:hover {
    background-color: #257762;
}

.song-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.song-details {
    flex-grow: 1;
}

.song-name {
    font-weight: bold;
    font-size: large;
    margin: 5px 0;
}

.song-artists {
    font-size: smaller;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
}

.quality-select {
    margin-top: -5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.persistent-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2D8F7A;
    color: white;
    padding: 10px;
    text-align: center;
}

.persistent-audio {
    padding-right: 30px;
}

#persistentAudio {
    width: 100%;
}

.play-btn {
    background-color: #2D8F7A;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.play-btn:hover {
    background-color: #257762;
}

.song-img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

/* Add margin-bottom to prevent last song hiding under player */
#result {
    margin-bottom: 120px;
}

.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.112);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000; /* Make sure it covers other content */
  }
  
  .loading-content {
	text-align: center;
  }

.hidden {
	display: none;
}

.loader {
	color: #ffffff;
}
