@media (max-width: 692px) {
  bg-body {
    display: none;
  }
}

@media (max-width: 800px) {
  #large-player1 {
    display: none;
  }
}

@media (max-width: 100px) {
  .audio-player2 .track-info2 {
    display: none;
  }
}

.hidden {
  display: none;
}

body {
  margin: 0px;
  padding: 0px;
}

