@media (max-width: 692px) {
  bg-body {
    display: none;
  }
}

@media (max-width: 850px) {
  #large-player1 {
    display: none;
  }
}

@media (max-width: 100px) {
  .audio-player2 .track-info2 {
    display: none;
  }
}

.hidden {
  display: none;
}

body {
  margin: 0px;
  padding: 0px;
}

.universal-quality {
  border-radius: 10px;
  background-color: var(--bs-dark);
  height: 35px;
  margin-right: 10px;
}

#songList {
  height: 200px;
  width: auto;
  border-radius: 40px;
  margin-bottom: 20px;
}

.next-prev-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 70px;
}

.prev-page, .next-page {
  background-color: var(--bs-primary);
  border-radius: 20px;
  width: 130px;
  margin: 30px;
}

.add-list-to-queue {
  color: white;
  border-radius: 19px;
  margin: 5px;
  font-size: small;
  width: 40px;
  height: 40px;
}

.list-menu {
  color: white;
  border-radius: 19px;
  margin: 5px;
  font-size: medium;
  height: 40px;
  width: 40px;
  font-weight: 900;
}

#message {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  display: none;
  z-index: 1000;
  cursor: pointer;
}

#headingContent {
  display: flex;
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

